<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Portail Pro{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <style>
                .header {
                    overflow: hidden;
                    background-color: #f1f1f1;
                    padding: 20px 10px;
                }

                .header a,
                .header span {
                    float: left;
                    color: black;
                    text-align: center;
                    padding: 12px;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 25px;
                    border-radius: 4px;
                }

                .header a.logo {
                    font-size: 25px;
                    font-weight: bold;
                }

                .header a:hover,
                .header span:hover {
                    background-color: #ddd;
                    color: black;
                }

                .header a.active,
                .header span.active {
                    background-color: dodgerblue;
                    color: white;
                }

                .header-right {
                    float: right;
                }

                @media screen and (max-width: 500px) {
                    .header a,
                    .header span {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                    .header-right {
                        float: none;
                    }
                }
            </style>

            <div class="header">
                <a href="{{ path('homepage') }}" class="logo">{{ 'Portail Pro'|upper }}</a href="#default">
                <div class="header-right">
                    {% if (app.request.attributes.get('_route') == 'user') %}
                        <a href="{{ path('homepage') }}">Home</a>
                    {% else %}
                        <a href="{{ path('user') }}">User management</a>
                    {% endif %}
                    <span style="color: gray;">Logged as {{ app.user.username }}</span>
                </div>
            </div>
        {% endblock %}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
