{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>{{ 'Todo List'|upper }}</h2>
            <ul id="todos">
                {% for todo in todos %}
                    {% include 'default/block/todo.html.twig' with {'todo': todo} %}
                {% endfor %}
            </ul>
            <form method="POST" action="{{ path('add') }}">
                <input type="text" name="value" placeholder="Type todo and hit enter to add it">
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function removeTodo(todo, id) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ path('remove') }}', true);
            xhr.addEventListener('readystatechange', {
                handleEvent: function (e) {
                    if (xhr.readyState == 4) {
                        this.todo.parentNode.removeChild(this.todo);
                    }
                },
                todo: todo
            });
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send('id=' + id);
        }

        var form = document.querySelector('form');
        form.onsubmit = function (e) {
            e.preventDefault();

            if (!document.querySelector('form input[name="value"]').value) {
                return;
            }

            var xhr = new XMLHttpRequest();
            xhr.addEventListener('readystatechange', {
                handleEvent: function (e) {
                    if (xhr.readyState == 4) {
                        document.querySelector('form input[name="value"]').value = '';

                        var data = JSON.parse(xhr.responseText);

                        document.querySelector('ul').innerHTML += data['view'];

                        init();
                    }
                }
            });
            xhr.open(this.getAttribute('method'), this.getAttribute('action'), true);
            xhr.send(new FormData(this));
        };

        function init() {
            var todos = document.querySelectorAll('.todo');

            for (var i = 0; i < todos.length; i++) {
                todos[i].onmouseover = function (e) {
                    this.querySelector('.remove-todo').style.visibility = 'visible';
                };

                todos[i].onmouseout = function (e) {
                    this.querySelector('.remove-todo').style.visibility = 'hidden';
                };
            }
        }

        init();
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
<style>
    #todos {
        margin-left: 0;
        padding-left: 0;
        -webkit-padding-start: 0;
    }

    .todo {
        list-style: none;
        border: 2px solid darkgray;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    form input[name="value"] {
        list-style: none;
        border: 2px dashed darkgray;
        padding: 5px 10px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        font: 18px/1.5 sans-serif;
    }

    .remove-todo {
        padding-top: 0px;
        float: right;
        visibility: hidden;
        cursor: pointer;
    }

    .todo:hover {
        border-color: #666 !important;
        border-left-color: #666 !important;
    }
</style>
{% endblock %}
